@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.text-color{
    color:#4F5665;
}
.button-color-basic{
    color: #F53855;
}

.boton-fondo:hover{
  background-color: #F53855;
  color: white;
  transition: 1s;
}

.boton-fondo2:hover{
  background-color: lightslategrey;
  color: white;
  transition: 1s;
}

li:hover{
  cursor: pointer;
  color: #F53855;
  transition: 0.5s;
}
